@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  main {
    @apply font-ysabeau;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-cormorant;
    @apply font-bold;
  }
  a {
    @apply text-mallow;
  }
  .site-header {
    @apply bg-robin/75 text-3xl font-montserrat font-medium py-3 border-2 border-robin/30;
  }
  .site-header a {
    @apply text-white;
  }

  .key {
    @apply m-2 px-3 py-2 rounded opacity-100;
  }
  .key-mallow {
    @apply text-white bg-mallow;
  }
  .key-clover {
    @apply text-white bg-clover;
  }
  .key-stereum {
    @apply text-white bg-stereum;
  }
  .key-robin {
    @apply text-white bg-robin;
  }
  
  .key-none {
    @apply opacity-50;
  }
  .key-active {
    @apply opacity-80;
  }

  .small-caps {
    font-variant: small-caps;
  }

  section {
    @apply mb-5 hyphens-auto;
  }
  p, details {
    @apply mb-3;
  }

  .scale-info h3, .scale-info h4 {
    @apply font-cormorantInfant;
  }

  .scale-info h3 {
    @apply text-lg text-clover;
  }

  .scale-info table {
    @apply w-full;
  }

  td {
    @apply p-1 text-left border border-black/60;
  }

  rt {
    font-size:75%;
    @apply mt-1 font-light text-center;
  }

  meter::-webkit-meter-bar {
    background: none;
    @apply bg-slate-200;
  }

  meter::-webkit-meter-optimum-value {
    background: none;
    @apply bg-robin bg-opacity-70;
  }

  meter::-webkit-meter-suboptimum-value {
    background: none;
    @apply bg-stereum bg-opacity-55;
  }
}
